.flex {
  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 3rem;
}

.italic {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.wfh {
  margin: 67px auto 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.98;
  letter-spacing: normal;
}
